Repository neonadeuli-project/neonadeuli-main, pull requests merged in 2024-10, with the labels that each got.

#9 [FE] nextjs 프로젝트생성
  app/frontend/.eslintrc.json
  app/frontend/.gitignore
  app/frontend/README.md
  app/frontend/next.config.mjs
  app/frontend/package.json
  app/frontend/postcss.config.mjs
  app/frontend/src/app/favicon.ico
  app/frontend/src/app/fonts/GeistMonoVF.woff
  app/frontend/src/app/fonts/GeistVF.woff
  app/frontend/src/app/globals.css
  app/frontend/src/app/layout.tsx
  app/frontend/src/app/page.tsx
  app/frontend/tailwind.config.ts
  app/frontend/tsconfig.json
Labels: ⚙️ chore, 👨🏻‍💻 frontend

#7 [BE] 코드 품질 향상 도구 세팅
  .github/workflows/code-quality-check-integration.yml
  .gitignore
  app/backend/.flake8
  app/backend/.pre-commit-config.yaml
  app/backend/Dockerfile
  app/backend/docker-compose.yml
  app/backend/main.py
  app/backend/pyproject.toml
  app/backend/requirements.txt
  app/backend/src/main/core/config.py
  app/backend/src/main/domains/user/repositories.py
Labels: 👨🏻‍💻 backend, ⚙️ chore

#20 [BE] PR 리뷰 리마인더 봇 구현
  .github/workflows/pr-review-reminder.yml
Labels: ⚙️ chore

#23 [FE] 로그인 페이지 구현
  app/frontend/src/app/(chat)/chat/page.tsx
  app/frontend/src/app/(chat)/room/page.tsx
  app/frontend/src/app/favicon.ico
  app/frontend/src/app/fonts/GeistMonoVF.woff
  app/frontend/src/app/fonts/GeistVF.woff
  app/frontend/src/app/globals.css
  app/frontend/src/app/layout.tsx
  app/frontend/src/app/page.tsx
  app/frontend/src/assets/images/close_btn.png
  app/frontend/src/assets/images/google_login.png
  app/frontend/src/assets/images/kakao_login.png
  app/frontend/src/assets/images/naver_login.png
  app/frontend/src/components/auth/LoginModal.tsx
  app/frontend/src/components/layout/NavMenu.tsx
  app/frontend/src/styles/animation.css
  app/frontend/src/styles/globals.css
  app/frontend/src/styles/index.css
  app/frontend/src/styles/tailwind.css
  app/frontend/tailwind.config.ts
Labels: ✨ feature, 👨🏻‍💻 frontend
